@import url(http://fonts.googleapis.com/css?family=Wire+One|Raleway:400,300,600);
/* Effect 14: border switch 
Taken from http://tympanus.net/Development/CreativeLinkEffects/
Super Awesome Resource.
Send them cake and/or pizza.*/
/* line 7, ../scss/_plugins.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../scss/_plugins.scss */
body {
  font-family: 'Raleway', sans-serif;
}

/* line 17, ../scss/_plugins.scss */
nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

/* line 32, ../scss/_plugins.scss */
nav a:hover,
nav a:focus {
  outline: none;
  text-decoration: none;
  color: white;
}

/* Effect 21: borders slight translate */
/* line 39, ../scss/_plugins.scss */
.cl-effect-21 a {
  padding: 10px;
  color: #fff;
  opacity: .3;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 51, ../scss/_plugins.scss */
.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  left: 0;
}

/* line 67, ../scss/_plugins.scss */
.cl-effect-21 a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 74, ../scss/_plugins.scss */
.cl-effect-21 a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 82, ../scss/_plugins.scss */
.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  opacity: 1;
  color: #fff;
}

/* line 90, ../scss/_plugins.scss */
.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 99, ../scss/_plugins.scss */
.project-item .figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 109, ../scss/_plugins.scss */
.project-item .figcaption::before,
.project-item .figcaption::after {
  pointer-events: none;
}

/* line 114, ../scss/_plugins.scss */
.project-item .figcaption,
.project-item .figcaption a {
  position: absolute;
  top: 0;
  width: 66.6%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* line 124, ../scss/_plugins.scss */
.project-item .figcaption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 132, ../scss/_plugins.scss */
.project-item .figcaption h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

/* line 138, ../scss/_plugins.scss */
.project-item .figcaption h2 span {
  font-weight: 800;
}

/* line 143, ../scss/_plugins.scss */
.project-item .figcaption h2,
.project-item .figcaption p {
  margin: 0;
}

/* line 147, ../scss/_plugins.scss */
.project-item .figcaption p {
  font-size: 68.5%;
}

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
/* line 159, ../scss/_plugins.scss */
div.effect-lily img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 169, ../scss/_plugins.scss */
div.effect-lily .figcaption {
  top: auto;
  bottom: 0;
  height: 66.7%;
  text-align: left;
  border-top-right-radius: 2em;
}

/* line 178, ../scss/_plugins.scss */
div.effect-lily h2,
div.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 183, ../scss/_plugins.scss */
div.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 188, ../scss/_plugins.scss */
div.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

/* line 196, ../scss/_plugins.scss */
div.effect-lily:hover img,
div.effect-lily:hover p {
  opacity: 1;
}

/* line 202, ../scss/_plugins.scss */
div.effect-lily:hover img,
div.effect-lily:hover h2,
div.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 207, ../scss/_plugins.scss */
div.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

@-webkit-keyframes clouddrift1 {
  /* line 2, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 7, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes clouddrift1 {
  /* line 2, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 7, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes clouddrift1 {
  /* line 2, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 7, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-ms-keyframes clouddrift1 {
  /* line 2, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 7, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes clouddrift1 {
  /* line 2, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 7, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes clouddrift2 {
  /* line 14, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }

  /* line 20, ../scss/_animations.scss */
  60% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  /* line 26, ../scss/_animations.scss */
  60.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 32, ../scss/_animations.scss */
  60.2% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 38, ../scss/_animations.scss */
  60.3% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  /* line 45, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
}

@-moz-keyframes clouddrift2 {
  /* line 14, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }

  /* line 20, ../scss/_animations.scss */
  60% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  /* line 26, ../scss/_animations.scss */
  60.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 32, ../scss/_animations.scss */
  60.2% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 38, ../scss/_animations.scss */
  60.3% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  /* line 45, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
}

@-o-keyframes clouddrift2 {
  /* line 14, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }

  /* line 20, ../scss/_animations.scss */
  60% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  /* line 26, ../scss/_animations.scss */
  60.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 32, ../scss/_animations.scss */
  60.2% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 38, ../scss/_animations.scss */
  60.3% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  /* line 45, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
}

@-ms-keyframes clouddrift2 {
  /* line 14, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }

  /* line 20, ../scss/_animations.scss */
  60% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  /* line 26, ../scss/_animations.scss */
  60.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 32, ../scss/_animations.scss */
  60.2% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 38, ../scss/_animations.scss */
  60.3% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  /* line 45, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
}

@keyframes clouddrift2 {
  /* line 14, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }

  /* line 20, ../scss/_animations.scss */
  60% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  /* line 26, ../scss/_animations.scss */
  60.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 32, ../scss/_animations.scss */
  60.2% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 38, ../scss/_animations.scss */
  60.3% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  /* line 45, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1;
  }
}

/* line 1, ../scss/_type.scss */
h1 {
  font-family: "Wire One", sans-serif;
  color: #666;
  font-size: 7em;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 992px) {
  /* line 1, ../scss/_type.scss */
  h1 {
    font-size: 7em;
    text-align: center;
  }
}
/* line 12, ../scss/_type.scss */
h1.greeting {
  color: white;
  font-family: "Wire One", sans-serif;
  text-align: center;
  font-size: 7em;
}
@media screen and (min-width: 480px) {
  /* line 12, ../scss/_type.scss */
  h1.greeting {
    font-size: 9em;
  }
}

/* line 22, ../scss/_type.scss */
h2 {
  color: #666;
}
/* line 24, ../scss/_type.scss */
h2.about {
  font-size: 2em;
  color: #6bbfad;
  font-family: "Raleway", sans-serif;
}
/* line 31, ../scss/_type.scss */
h2.art {
  color: #d69782;
}
/* line 34, ../scss/_type.scss */
h2.code {
  color: #c4a34d;
}
/* line 37, ../scss/_type.scss */
h2.project-name {
  color: #fff;
}

/* line 42, ../scss/_type.scss */
h1 small {
  color: #fff;
  font-size: 20%;
}

/* line 47, ../scss/_type.scss */
p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: #666;
}
/* line 52, ../scss/_type.scss */
p.large {
  font-weight: 300;
  color: white;
  font-size: 1.6em;
  text-align: center;
}
@media screen and (min-width: 480px) {
  /* line 52, ../scss/_type.scss */
  p.large {
    font-size: 2em;
  }
}
/* line 61, ../scss/_type.scss */
p.about {
  font-size: 1.4em;
}

/* line 68, ../scss/_type.scss */
span.interest {
  color: #6bbfad;
}

/* line 71, ../scss/_type.scss */
a {
  color: #c4a34d;
}
/* line 74, ../scss/_type.scss */
a:hover {
  color: #c4a34d;
}

/* line 79, ../scss/_type.scss */
p.large a {
  color: #fff;
}
/* line 81, ../scss/_type.scss */
p.large a:hover {
  color: #fff;
}

/* line 2, ../scss/_intro.scss */
.cloud-container {
  overflow: hidden;
  position: fixed;
  background-image: url("../assets/bgsky.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -51;
}

/* line 16, ../scss/_intro.scss */
.cloud-wrapper {
  position: fixed;
}

/* line 21, ../scss/_intro.scss */
.cloud {
  position: absolute;
  height: 1000px;
  width: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
}

/* line 31, ../scss/_intro.scss */
#cloud1 {
  background: url("../assets/cloud1.png");
  z-index: -50;
  top: 310px;
  background-repeat: no-repeat;
  -webkit-animation: clouddrift2 1800s linear 0 infinite both;
  -moz-animation: clouddrift2 1800s linear 0 infinite both;
  -o-animation: clouddrift2 1800s linear 0 infinite both;
  -ms-animation: clouddrift2 1800s linear 0 infinite both;
  animation: clouddrift2 1800s linear 0 infinite both;
}

/* line 38, ../scss/_intro.scss */
#cloud2 {
  background: url("../assets/cloud2.png");
  z-index: -49;
  top: 250px;
  background-repeat: no-repeat;
  -webkit-animation: clouddrift1 1200s linear 10s infinite both;
  -moz-animation: clouddrift1 1200s linear 10s infinite both;
  -o-animation: clouddrift1 1200s linear 10s infinite both;
  -ms-animation: clouddrift1 1200s linear 10s infinite both;
  animation: clouddrift1 1200s linear 10s infinite both;
}

/* line 45, ../scss/_intro.scss */
#cloud3 {
  background: url("../assets/cloud3.png");
  z-index: -48;
  top: -120px;
  background-repeat: no-repeat;
  -webkit-animation: clouddrift1 600s linear 0 infinite both;
  -moz-animation: clouddrift1 600s linear 0 infinite both;
  -o-animation: clouddrift1 600s linear 0 infinite both;
  -ms-animation: clouddrift1 600s linear 0 infinite both;
  animation: clouddrift1 600s linear 0 infinite both;
}

/* line 52, ../scss/_intro.scss */
#cloud4 {
  background: url("../assets/cloud4.png");
  z-index: -47;
  top: -150px;
  background-repeat: no-repeat;
  -webkit-animation: clouddrift2 300s linear 0 infinite both;
  -moz-animation: clouddrift2 300s linear 0 infinite both;
  -o-animation: clouddrift2 300s linear 0 infinite both;
  -ms-animation: clouddrift2 300s linear 0 infinite both;
  animation: clouddrift2 300s linear 0 infinite both;
}

/* line 60, ../scss/_intro.scss */
#fairhill {
  background: url("../assets/fairhill.png");
  z-index: -46;
  top: -75px;
  margin: auto;
}

/* line 66, ../scss/_intro.scss */
#lowcloud {
  background: url("../assets/lowcloud.png");
  z-index: -45;
  width: 3000px;
  top: 500px;
  background-repeat: no-repeat;
  -webkit-animation: clouddrift1 375s linear 0 infinite both;
  -moz-animation: clouddrift1 375s linear 0 infinite both;
  -o-animation: clouddrift1 375s linear 0 infinite both;
  -ms-animation: clouddrift1 375s linear 0 infinite both;
  animation: clouddrift1 375s linear 0 infinite both;
}

/* line 74, ../scss/_intro.scss */
#nearhill {
  background: url("../assets/nearhill-alt2.png");
  z-index: -44;
  top: -75px;
}

/* line 1, ../scss/_about.scss */
#aboutMe {
  background: #fff;
  border-top: 50px solid #fff;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3em;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  /* line 1, ../scss/_about.scss */
  #aboutMe {
    max-height: 75vh;
  }
}

/* line 14, ../scss/_about.scss */
#me {
  margin-bottom: 4em;
}

/* line 17, ../scss/_about.scss */
.placeholder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
}
/* line 23, ../scss/_about.scss */
.placeholder.art {
  border: solid 0.4em #d69782;
}
/* line 26, ../scss/_about.scss */
.placeholder.design {
  border: solid 0.4em #6bbfad;
}
/* line 29, ../scss/_about.scss */
.placeholder.code {
  border: solid 0.4em #c4a34d;
}

/* line 33, ../scss/_about.scss */
ul {
  margin: 0;
  padding-top: .5em;
}
/* line 36, ../scss/_about.scss */
ul li {
  color: #666;
  font-size: 1.3em;
  list-style: none;
}

/* line 46, ../scss/_about.scss */
.skill {
  margin-bottom: 4em;
}
@media screen and (min-width: 992px) {
  /* line 46, ../scss/_about.scss */
  .skill {
    margin-bottom: 0;
  }
}

/* line 52, ../scss/_about.scss */
.skills-row {
  height: 33vh;
}

/* line 2, ../scss/_projects.scss */
#work-section {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 2, ../scss/_projects.scss */
  #work-section {
    margin-top: 200px;
    margin-bottom: 8em;
  }
}
/* line 9, ../scss/_projects.scss */
#work-section #project-container {
  background: #fff;
  border: solid 2em #fff;
  border-radius: 2em;
}

/* line 16, ../scss/_projects.scss */
.projects-header {
  padding: 3em;
}

/* line 20, ../scss/_projects.scss */
.project-item {
  margin: 15px 0 15px 0;
  overflow: hidden;
}

/* line 28, ../scss/_projects.scss */
figure {
  overflow: hidden;
}
/* line 9, ../scss/_mixins.scss */
figure:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../scss/_projects.scss */
div.figcaption {
  height: 100%;
}

/* line 1, ../scss/_contact.scss */
#contact-section {
  height: 100vh;
  padding-top: 25vh;
}

/* line 13, ../scss/main.scss */
body {
  background: #6bbfad;
}

/* line 18, ../scss/main.scss */
div.content {
  position: absolute;
  width: 100%;
}

/* line 23, ../scss/main.scss */
.pluginnav {
  text-align: center;
}

/* line 26, ../scss/main.scss */
.header {
  position: relative;
  z-index: 3;
}

/* line 30, ../scss/main.scss */
img.logonym {
  padding: 20px;
}

/* line 33, ../scss/main.scss */
#intro {
  height: 100vh;
  width: 100%;
}
/* line 40, ../scss/main.scss */
#intro .container-fluid {
  position: relative;
  z-index: 2;
}

/* line 45, ../scss/main.scss */
.intro-text {
  margin-top: 10vh;
}

/* line 49, ../scss/main.scss */
.welcome {
  margin-top: 10vh;
}

/* line 54, ../scss/main.scss */
.ball {
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 4;
}

/* line 63, ../scss/main.scss */
.dimmer {
  postion: absolute;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 69, ../scss/main.scss */
div.project-detail {
  postion: absolute;
  background: #fff;
  z-index: 110;
}
