#aboutMe{
	padding-bottom: 3em;
	background: #fff;
	border-top: 50px solid #fff;
	width: 100%;
	padding-top: 2em;
	position:absolute;
	z-index:100;
	@include respond($desktop){
		max-height: 75vh;
	}
}
#me{
	margin-bottom: 4em; 
}
.placeholder{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #fff;
	margin: 0 auto;
	&.art{
		border: solid .4em $cloud;
	}
	&.design{
		border: solid .4em $sky;
	}
	&.code{
		border: solid .4em $grass;
	}
}
ul {
	margin: 0;
	padding: 0;
	& li {
		color: #666;
		font-size: 1.3em;
		list-style: none;
		
	
		
		
	}
}
 .skill {
 	margin-bottom: 4em;
 	@include respond($desktop){
 		margin-bottom: 0;
 	}
 }
 .skills-row{
 	height: 33vh;
 }