#aboutMe{
	
	width: 100%;

	padding-bottom: 3em;
	z-index:100;
	@include respond($tablet){
		height: 50vh;
		// position:absolute;
	}
}
#me{
	margin-bottom: 4em; 
}

ul {
	margin: 0;
	padding-top: .5em;
	& li {
		color: #666;
		font-size: 1.3em;
		list-style: none;
		
	
		
		
	}
}
