@mixin respond($breakpoint) {
	@media screen and (min-width : $breakpoint) {
		@content;
	}
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($property, $duration, $ease, $delay) {
  -webkit-transition: $property $duration $ease $delay;
  -moz-transition: $property $duration $ease $delay;
  -o-transition: $property $duration $ease $delay;
  -ms-transition: $property $duration $ease $delay;
  transition: $property $duration $ease $delay;
}

@mixin animation($name, $duration, $ease, $delay, $iteration: 1, $direction: both) {
  -webkit-animation: $name $duration $ease $delay $iteration $direction;
  -moz-animation: $name $duration $ease $delay $iteration $direction;
  -o-animation: $name $duration $ease $delay $iteration $direction;
  -ms-animation: $name $duration $ease $delay $iteration $direction;
  animation: $name $duration $ease $delay $iteration $direction;
}
 

 
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}