h1{
	font-family:$wire;
	color: #fff;
	font-size:7em;
	margin: 0;
	text-align: left;
	@include respond($desktop){
		font-size: 7em;
		text-align: center;
	}

	&.greeting{
		color: white;
		font-family: $wire;
		text-align: center;
		font-size: 7em;
		@include respond($cell){
			font-size: 9em;
		}
	}
}
h2{
	color: #666;
	&.about{
		font-size: 2em;
		color: $sky;
		
		font-family: $rale;

	}
	&.art{
		color: $cloud;
	}
	&.code{
		color: $grass;
	}
	&.project-name{
		color: #fff;
		&.dark{
			color:#333;
			font-size: 2.5em;
		}
	}

}
h3{
	&.scroll{
		color:#fff;
		text-align:center;
		padding-top: 100px;
	}
}
h1 small {
	color: #fff;
	font-size: 20%
}

p{
	font-family: $rale;
	line-height: 1.5em;
	font-size: 1em;
	color: #666;
	&.large{
		font-weight: 300;
		color: white;
		font-size: 1.6em;
		text-align: center;
		@include respond($cell){
			font-size: 2em;
		}
	}
	&.about{
		font-size: 1.4em;
		padding:2em;
		background: #fff;
		border-radius: 2em;
	}
	&.project-description{
		padding-bottom: 2em;
	}
}
h2.art{
	
}
span.interest{
	color:$sky;
}
a{
	color: $sky;
	text-decoration: underline;
	@include transition(all, 0.3s, linear, 0);
	&:hover{
		color:$cloud;
	}
	
}
p.large a{
		color: #fff;
		@include transition(all, 0.3s, linear, 0);

		&:hover{
			color:$cloud;
		}
	}

.dark{
	color:#666;
}