@import url(http://fonts.googleapis.com/css?family=Wire+One|Raleway:400,300,600);
@import "plugins";
@import "variables";
@import "mixins";
@import "animations";

@import "type";
@import "intro";
@import "about";
@import "projects";
@import "contact";

body{
	background: #6bbfad;
	

}
div.content{
	position:absolute;
	width: 100%;

}
.pluginnav {
	text-align: center;
}
.header{
	position:relative;
	z-index:3;
}
img.logonym{
	padding:20px;
}
#intro{
	height: 100vh;
	width: 100%;
	//background-image: url("../assets/bgsky.jpg");
 	//background-repeat: no-repeat;
 	//z-index:-31;
 	//background-attachment: fixed;
    & .container-fluid{
    	position: relative;
    	z-index:2;
    }
}
.intro-text{
	margin-top: 10vh;

}
.welcome{
	margin-top: 10vh;
}


.ball{
	background: #fff;
	height: 100px;
	width: 100px;
	border-radius:50%;
	
	z-index:4;

}
.dimmer{
	postion: absolute;
	z-index: 100;
	width:100%;
	background: rgba(000, 000, 000, 0.5);
}
div.project-detail{
	postion: absolute;
	background:#fff;
	z-index: 110;
}
