@import url(http://fonts.googleapis.com/css?family=Wire+One|Raleway:400,300,600);
@import "plugins";
@import "variables";
@import "mixins";
@import "animations";

@import "type";
@import "intro";
@import "about";
@import "projects";
@import "contact";

body{
	background: #6bbfad;
	

}
div.content{
	position:absolute;
	width: 100%;

}
.pluginnav {
	text-align: center;
}
header{
	position:relative;
	z-index:9001;
}
img.logonym{
	padding:20px;

}
#intro{
	
	@include respond($cell){
	height: 100vh;
	width: 100%;
	}
    & .container-fluid{
    	position: relative;
    	z-index:2;
    }
}
.intro-text{
	margin-top: 10vh;

}
.welcome{
	margin-top: 10vh;
}

.dimmer{
	postion: absolute;
	z-index: 100;
	width:100%;
	background: rgba(000, 000, 000, 0.5);
}
div.project-detail{
	postion: absolute;
	background:#fff;
	z-index: 110;
}
div.scroll-icon{
	background:url("../assets/scroll.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;

	opacity:0.3;
	@include transition(all, 0.3s, linear, 0);
	&:hover{
		opacity:1;
	}
}
